*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: antiquewhite; */
    /* border-bottom: solid 3px #FFDFDF; */
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);

}

.logo{
    width: 150px;
   color: brown;

}


a{
    text-decoration: none;
    margin: 0 10px;
    /* display: flex;
    flex-direction: column; */
    /* flex: inline block;   */
}
.h1Menu{
    text-align: center;
    font-size:18px;
    margin-top: 20px;

}
/* Fin header */

