

/* form */
.creationCompte{
    box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
    max-width: 375px;
    margin: auto;
    margin-top: 50px;
}
.creationCompt{
    text-align: center;
}

.formSignin{
    margin: 5px;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  .signupbtn{
   
        background-color: #04AA6D; /*#fd2d01; */
        border-radius: 5px;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
  
  }
  .signupbtn:hover {
    opacity:1;
  }
  
